<table id="jqgAllAdminUser"></table>
<div id="jpagerAllAdminUser"></div>
<hr />

<p class="text-center">
    <button type="button" class="btn btn-basic" onclick="$('.dialog').dialog('close');">Закрыть</button>
</p>

<script type="text/javascript">

    $(document).ready(function () {
        function checkLoginAdminUser(idCurrent) {
            var message = "";
            var mydata = $("#jqgAllAdminUser").jqGrid('getGridParam', 'data');
            for (var i in mydata) {
                if ($("#Login").val() === mydata[i].Login && idCurrent !== mydata[i].ID) {
                    message += "Пользователь с логином \"" + mydata[i].Login + "\" уже зарегистрирован";
                    break;
                }
            }
            if (message === "")
                return [true];
            return [false, message];
        };

        var datemin = new Date(1940, 0, 1);

        var date = new Date();
        var datemax = new Date(date.getFullYear() - 18, 11, 31);

        $("#jqgAllAdminUser").jqGrid({
            url: '@Url.Action("GetAllAdminUsersDetails", "UsersCompany")',
            mtype: "GET",
            datatype: "json",
            colModel: [
        { label: 'ID', name: 'ID', stype: 'text', key: true, hidden: true, editable: false },
        {
            label: 'Логин', name: 'Login', sortable: true, editable: true, edittype: 'text',
            editoptions: { placeholder: "Введите логин" },
            editrules: { required: true, email: true }
        },
        {
            label: 'Должность', name: 'Position', sortable: true, editable: true, edittype: 'select',
            editoptions: { value: { "": "", "director": "director", "manager": "manager", "programmer": "programmer", "booker": "booker" } },
            editrules: { required: true }
        },
        {
            label: 'День рождения', name: 'DateOfBirth', formatter: 'date', sortable: true, editable: true, width: 50, edittype: 'button',
            formatoptions: { newformat: 'd.m.Y' },
            editoptions: {
                placeholder: "Введите дату рождения d.m.Y",
                dataInit: function (element) {
                    $(element).datepicker({
                        id: 'DateOfBirth_datePicker',
                        dateFormat: 'dd.mm.yy',
                        changeMonth: true,
                        changeYear: true,
                        minDate: datemin,
                        maxDate: datemax,
                        showOn: 'focus',
                        yearRange: (datemin.getFullYear() + ":" + datemax.getFullYear())
                    });
                }
            },
            editrules: { required: true, date: true }
        },
        {
            label: 'Активный', name: 'IsActive', formatter: 'checkbox', sortable: true, editable: true, edittype: 'checkbox', width: 50,
            editoptions: { value: "True:False" }
        },
        { label: 'Компания', name: 'NamesCompanies', edittype: 'text', editable: false, width: 50, sortable: false },
        { label: 'Страна', name: 'CountriesCompanies', edittype: 'text', editable: false, width: 50, sortable: false },
            ],
            width: $('body').innerWidth() - 50,
            height: window.innerHeight - 250,
            pager: '#jpagerAllAdminUser',
            loadonce: true,
            caption: "Администраторы",
            rowNum: 20,
            scroll: 1,
            viewrecords: true,
            emptyrecords: 'Таблица пуста'
        });
        $("#jqgAllAdminUser").jqGrid('navGrid', '#jpagerAllAdminUser', {
            add: true,
            del: true,
            edit: true,
            search: true,
            refresh: true,
        },
                              {
                                  viewPagerButtons: false,
                                  mtype: "POST",
                                  url: '@Url.Action("EditAdminUsers", "UsersCompany")',
                                  closeAfterEdit: true,
                                  recreateForm: true,
                                  resize: false,

                                  beforeSubmit: function () {
                                      var idCurrent = $("#id_g").val();
                                      return checkLoginAdminUser(idCurrent);
                                      return [true];
                                  },

                                  afterSubmit: function (response) {
                                      var data = JSON.parse(response.responseText);
                                      if (data.ID !== undefined) {
                                          var date = new Date(Date.parse(data.DateOfBirth));
                                          $("#jqgAllAdminUser").setCell(data.ID, 'Login', data.Login);
                                          $("#jqgAllAdminUser").setCell(data.ID, 'Position', data.Position);
                                          $("#jqgAllAdminUser").setCell(data.ID, 'DateOfBirth', date);
                                          $("#jqgAllAdminUser").setCell(data.ID, 'IsActive', data.IsActive);

                                          return [true];
                                      }
                                      return [false, data];
                                  }
                              },

                                      {
                                          mtype: "POST",
                                          url: '@Url.Action("CreateAdminUsers", "UsersCompany")',
                                          resize: false,
                                          closeAfterAdd: true,
                                          recreateForm: true,

                                          beforeSubmit: function () {
                                              return checkLoginAdminUser();
                                          },

                                          afterSubmit: function (response) {
                                              var data = JSON.parse(response.responseText);
                                              if (data.ID !== undefined) {
                                                  $("#jqgAllAdminUser").addRowData("ID", data);
                                                  return [true];
                                              }
                                              return [false, data];
                                          }
                                      },
                                              {
                                                  mtype: "POST",
                                                  url: '@Url.Action("DeleteAdminUsers", "UsersCompany")',
                                                  closeAfterDelete: true,
                                                  recreateForm: true,
                                                  resize: false,
                                                  msg: "Вы хотите удалить этого пользователя? ",

                                                  beforeSubmit: function (response) {
                                                      var dataId = $("#jqgAllAdminUser").jqGrid('getGridParam', 'selrow');
                                                      var mydata = $("#jqgAllAdminUser").jqGrid('getRowData', dataId);
                                                      if (mydata.NamesCompanies === "")
                                                          return [true];
                                                      else
                                                      {
                                                          var responce = confirm("Пользователь удалится из следующих компаний: \n" + mydata.NamesCompanies);
                                                          if (responce)
                                                              return [true];
                                                          $("#eData").click();
                                                          return [false];
                                                      }
                                                  },

                                                  afterSubmit: function (response) {
                                                      if (response === "False")
                                                          return [false, "Произошла ошибка. Обновите страницу"];
                                                      return [true];
                                                  }
                                              }

        );
    });
</script>
